<!-- Navbar -->
<nav class="navbar navbar-dark bg-primary navbar-full navbar-fixed-top">

    <!-- Toggle sidebar -->
    <button class="navbar-toggler pull-xs-left" type="button" data-toggle="sidebar" data-target="#sidebarLeft"><span
            class="material-icons">menu</span></button>

    <!-- Brand -->
    <a href="/" class="navbar-brand"><i class="material-icons">school</i> eTutoring</a>

    <!-- Menu -->
    <ul class="nav navbar-nav pull-xs-right">
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="material-icons">notifications</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <i class="material-icons">shopping_cart</i>
            </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownLanguage" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <i class="material-icons">g_translate</i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownLanguage">
            <a class="dropdown-item" href="/en"><img src="/images/icons/uk.png"/>&nbspEN</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/vn"><img src="/images/icons/vietnam.png"/>&nbspVN</a>
          </div>
        </li>
        <!-- User dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle p-a-0" data-toggle="dropdown" href="#" role="button"
                aria-haspopup="false">
                <img src="/images/people/50/guy-6.jpg" alt="Avatar" class="img-circle" width="40">
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-list" aria-labelledby="Preview">
                <a class="dropdown-item" href=""><i class="material-icons md-18">person</i> <span
                        class="icon-text">{{__ "Account"}}</span></a>
                <a class="dropdown-item" href=""><i class="material-icons md-18">exit_to_app</i> <span
                        class="icon-text">{{__ "Log Out"}}</span></a>
            </div>
        </li>
        <!-- // END User dropdown -->

    </ul>
    <!-- // END Menu -->

</nav>
<!-- // END Navbar -->